{% include "head.html" %}

<title>Cricket tournamet Api Endpoints</title>
<body>
<h1 class='d-flex justify-content-center'>Cricket tournamet api Endpoints</h1>
<h3>Please obtain token before using the rest api</h3>
<div class="container-fluid">
      <div class="d-flex justify-content-center">
          <form action="testbybit.herokuapp.com/rest-auth/login/" method="POST">
            <div class="form-group">
              <label for="exampleInputEmail1">username</label>
              <input  type="text" id="username" name="username"  class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              <small id="username" name="username"  class="form-text text-muted">We'll never share your username with anyone else.</small>
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">email</label>
              <input type="text" id="password" name="password"  class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              <small id="emailHelp" class="form-text text-muted">We'll never share your username with anyone else.</small>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" name ="password" class="form-control" id="password">
            </div>
            
            <button type="submit" class="btn btn-primary btn-center">Submit</button>
          </form>
      </div>

  </div>

</body>
